@model IEnumerable<ContractorSearch.Models.Appointment>

@{
    ViewData["Title"] = "AvailableAppointments";
}

<h1>Available Appointments</h1>

<p>
    <a asp-action="CurrentAppointments">Current Appointments</a>
    <a asp-action="AvailableContractorsIndex">Available Contractors</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Appointment Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Reserve" asp-route-id="@item.Id">Reserve Appointment</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
