@{
        ViewData["Title"] = "Home Page";
    }

<div class="text-center">
    <h1 class="display-4">Welcome To Contractor Search</h1>
    <h5 class="card-title">Please sign in or create an account</h5>
    <img src="@Url.Content("~/images/Contractor-Customer.jpg")" width="1000" height="750" style="margin-left:auto; margin-right:auto" alt="Contractor-Customer" />
</div>


